@import "./base/resets";
@import "./base/fonts";
@import "./base/galeria";
@import "./base/form";
@import "./base/mquerys";

body{
    background-color:#111111;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Monseratt-reg";
    letter-spacing: 0.1rem;
    position: relative;
}

a{
    color: white;
    text-decoration: none;
    font-family: "Monseratt-reg";
    &:hover{
        color: rgb(124, 196, 255);
        transform: scale(1.15);
        transition: transform ease-in .2s;
    }
}
header{
    .section-background-top{
        display: flex;
        flex-direction: column;
        background-image: url(../assets/img/background-top.jpg);
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        height: 30rem;
    }
    .section-background-top {
        @include boxShadow('0px -10vw 45vw 80px rgb(0 0 0)');
    }
    .header-nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 0.5rem 1rem 0.5rem;
        background-color: (var(--color-background));
        height: 5rem;
        
    }
    @keyframes logo{
        from{
            transform: rotate(-45deg);
        }
        to{
            transform: rotate(45deg);
        }
    }

    .icon-nav{
        width: 4rem;
        transform: rotate(-45deg);
    }
    .icon-nav:hover{
        view-timeline-name: --logo;
        view-timeline-axis: block;

        animation-timeline: --logo;
        animation-name: logo;

    }
    
    .header-a{
        text-decoration: none;
        font-size: 18px;
        color: white;
        text-decoration: none;
        font-family: "BebasNeue-reg";
    }
    .titulo-principal{
        margin: auto;
    }
}
main{
    position: relative;
        .titulo2 h2,.titulo3 h2{
        margin-bottom: 2rem;
        }
        h4{
            margin-bottom: 1rem;
        }
        .titulo2, .titulo3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5rem;
            margin: 0 auto 0 auto;
            max-width: 40%;
        }
        .section-aviones, .section-otros{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
            margin: 2rem 0 2rem 0;
            gap: 2rem 4rem;
            .h4-article-aviones, .h4-article-otros{
                background-color: (var(--color-background));
                text-shadow: 1px 1px black;
                border-radius: 32px;
                padding: 0.2rem .75rem;
            }
            .article-aviones, .article-helicopteros, .article-buques{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                gap:1rem;
            }
            
            .article-aviones img{
                max-width: 100%;
                height: auto;
            }
            .div-aviones-combate,.div-aviones-comerciales,.div-aviones-privados,.div-helicopteros,.div-buques{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 24rem;
                width: 18rem;
            }
            .div-aviones-comerciales{
                background-position: 80%;
            }
            .div-aviones-combate{
            background-position: 55%;
            }
            .div-helicopteros{
                background-position: 55%;
                }
            
            .div-aviones-comerciales{
                background-image: url(../assets/img/imagen-avion-comercial.jpg);
            }
            .div-aviones-privados{
                background-image: url(../assets/img/imagen-avion-privado.jpg);
            }
            .div-aviones-combate{
                background-image: url(../assets/img/imagen-avion-combate.jpg);
            }
            .div-helicopteros{
                background-image: url(../assets/img/helicopteros-1.jpg);
            }
            .div-buques{
                background-image: url(../assets/img/buques-1.jpg);
            }
        }
        
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
        .section-background-bottom{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            background-image: url(../assets/img/imagen-montañas-bottom.jpg);
            background-size: cover;
            background-position: 50% 80%;
            background-repeat: no-repeat;
            height: 20rem;
            width: 100%;
            padding: 1rem 0;
            margin-top: 3rem;
            @include boxShadow('0px -10vw 45vw 80px rgb(0 0 0)');
        }
        .social-media{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            .section-media-img{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
            }
            .img-social{
                width: 4rem;
            }
            .section-media-img :hover{
                transform: scale(1.05);
            }
        }    
}

