@font-face{
    font-family: "BebasNeue-reg";
    src: url(../assets/fuentes/BebasNeue-Regular.ttf);
    
}
@font-face{
    font-family: "Monseratt-reg";
    src: url(../assets/fuentes/Montserrat-Regular.ttf);
    
}