.section-galeria{
    padding: 5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr))
    
}
.img-galeria{
    border-radius: 5px;
    height: 15rem;
    width: 10rem;
    max-height: 15rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-galeria:hover{
    transform: scale(250%);
    transition: ease;
    transition-duration: 1.5s;
}
.btn-galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    font-size: 1.5rem;
}