header{
    .section-background-top{
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-repeat: no-repeat;
        height: 30rem;
    }
    .home{
        background-image: url(../assets/img/background-top.jpg);
        background-position: 50%;
    }
    .aviones{
        background-image: url(../assets/img/avionesbg.jpg);
    }
    .buques{
        background-image: url(../assets/img/buquesbg.jpg);
        background-position-y: 65%;
    }
    .helicopteros{
        background-image: url(../assets/img/helibg.jpg);
    }
    .galeria{
        background-image: url(../assets/img/gallerybg.jpg);
        background-position-y: 70%;
    }
    .contacto{
        background-image: url(../assets/img/contactobg.jpg);
        background-position-y: 5%;
    }
    .section-background-top {
        @include boxShadow('0px -10vw 45vw 80px rgb(0 0 0)');
    }
    .header-nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 0.5rem 1rem 0.5rem;
        background-color: (var(--color-background));
        height: 5rem;
            .header-a{
                text-decoration: none;
                font-size: 18px;
                color: white;
                text-decoration: none;
                font-family: "BebasNeue-reg";
            }
            .icon-nav{
                width: 4rem;
                animation-name: logo;
                animation-delay: 1s;
                animation-duration: 6s;
            }
            .icon-nav:hover{
                transform: rotate(360deg);
                transition: 1s;                
            }
    }
    .bg-dark {
        --bs-bg-opacity: 0.5;
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }
    .titulo-principal{
        margin: auto;
    }
}