main{
    position: relative;
        .titulo2 h2,.titulo3 h2{
        margin-bottom: 2rem;
        }
        .titulo2, .titulo3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5rem;
            margin: 0 auto 0 auto;
            text-align: center;
            max-width: 60%;  
        }
        .section-aviones, .section-otros, .apache{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
            margin: 2rem 0 2rem 0;
            gap: 2rem 4rem;
            .h4-article-aviones, .h4-article-otros{
                background-color: (var(--color-background));
                text-shadow: 1px 1px black;
                border-radius: 32px;
                padding: 0.25rem 0.75rem;
                margin-bottom: 0.5rem;
            }
            .article-aviones, .article-helicopteros-general, .article-buques-general{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                gap:1rem;
                .apache{
                    background-image: url(../assets/img/helicopteros-1.jpg)
                }
                .eurocopter{
                    background-image: url(../assets/img/galeria12.jpg);
                }
                .hh{
                    background-image: url(../assets/img/galeria4.jpg);
                }
                .portaviones{
                    background-image: url(../assets/img/buques-1.jpg);
                }
                .bcarga{
                    background-image: url(../assets/img/galeria15.jpg);
                }
                .cruceros{
                    background-image: url(../assets/img/galeria9.jpg);
                }
            }
            
            .article-aviones img{
                max-width: 100%;
                height: auto;
            }
            .div-aviones-combate,.div-aviones-comerciales,.div-aviones-privados,.div-helicopteros-general,.div-buques-general,.div-helicopteros, .div-buques{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 5px;
                height: 24rem;
                width: 18rem;
            }
            .div-aviones-comerciales{
                background-position: 80%;
            }
            .div-aviones-combate{
            background-position: 55%;
            }
            .div-helicopteros-general, .div-helicopteros{
                background-position: 55%;
                }
            
            .div-aviones-comerciales{
                background-image: url(../assets/img/imagen-avion-comercial.jpg);
            }
            .div-aviones-privados{
                background-image: url(../assets/img/imagen-avion-privado.jpg);
            }
            .div-aviones-combate{
                background-image: url(../assets/img/imagen-avion-combate.jpg);
            }
            .div-helicopteros-general{
                background-image: url(../assets/img/helicopteros-1.jpg);
            }
            .div-buques-general{
                background-image: url(../assets/img/buques-1.jpg);
            }
            
        }
        
}