@media (max-width: 750px){
    main{
        .titulo2,.titulo3{
            max-width: 80%;
        }
    }
}
@media (max-width: 500px) {
    header .header-nav{
        justify-content:center;
        gap: 0.2rem;
    }
    header .section-background-top{
        height: 20rem;
    }
    .section-form
        .input-form{
        font-size: 1.3rem;
        width: 20rem;
    }
    .section-form 
        .form-submit{
        width: 15rem;
        height: 3rem;
    }
    main .titulo2, main .titulo3{
        padding: 3rem 0;
        max-width: 70%;
        text-align: center;
    }
    footer 
        .section-background-bottom{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5rem;
            text-align: center;
    }
    footer{ 
        .img-social{
            width: 3rem;
        }
        .social-media{
        display:none;
        }
    } 
}
@media (max-width: 375px){
    header{
        .header-nav{
            .header-a{
                font-size: 1rem;
            }
            .icon-nav{
                width: 3.2rem;
            }
        }
    }
}
